/* Animaciones */
@keyframes color-change {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 100%; /* Cambia a un primer cambio */
  }
  50% {
    background-position: 200%; /* Cambia a un segundo cambio */
  }
  75% {
    background-position: 300%; /* Cambia a un tercer cambio */
  }
  100% {
    background-position: 400%; /* Regresa al comienzo */
  }
}

@keyframes grey-change {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(-10deg); /* Posición inicial */
  }
  50% {
    transform: translateY(-10px) rotate(-10deg); /* Mover hacia arriba */
  }
  100% {
    transform: translateY(0) rotate(-10deg); /* Regresar a la posición inicial */
  }
}

@keyframes grayscale-sweep {
  0% {
    filter: grayscale(100%); /* Comienza en blanco y negro */
  }
  50% {
    filter: grayscale(0); /* Pasa a color */
  }
  100% {
    filter: grayscale(100%); /* Regresa a blanco y negro */
  }
}


/* General */
body {
  background-color: #F8F8F8;
}

.hero {
  min-height: 100vh;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  display: flex;
 
  justify-content: center;
  align-items: center;
}

.espacios {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* Botones */
.btn:hover {
  text-decoration: underline;
}

/* Figcaption */
figcaption {
  width: 120px;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
}

/* Map */
#map {
  height: 600px;
  width: 100%;
  border-radius: 2%;
}

/* Profile */
#profile {
  position: relative;
}

#profile img{
  animation: grayscale-sweep 10s ease-in-out infinite; /* Aplica la animación */
  /*transition: filter 0.5s ease; /* Suaviza la transición */


}

#nametag {
  position: absolute;
  top: 30%;
  left: 55%;
  background-color: #F8F8F8;
  transform: rotate(-10deg); /* Inclinación de 10 grados */
  transform-origin: center;  /* Giro desde el centro */
  animation: float 3s ease-in-out infinite; /* Aplica la animaci*/
}

/* Colores de fondo */
.grey {
  background-color: #EDECEB;
}

.white {
  background-color: #F8F8F8;
}

/* Bordes redondeados */
.redondeado {
  border-radius: 10%;
}

/* Tipografías */
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.body {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h1 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -3px;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Texto Animado */
.animated-text {
  background: linear-gradient(120deg, #5fa4dc, #ADD8E6, #B0E0E6, #87CEEB);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  

  -webkit-text-fill-color: transparent;
  animation: color-change 50s infinite;
  display: block;
  margin-bottom: 10px; /* Espacio entre las líneas */
}

.second-line {
  background: linear-gradient(40deg, #008080, #72bdbd, #177d78);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: grey-change 50s infinite;
  display: block;
  font-size: 2rem;
}

.profile-image {
  width: 100px;
  height: 100px;
}

